.Promo{
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-width: 100%;
	min-height: 754px;
	
	background: url(Images/Promo/bgpromo.jpeg);
	background-size: cover;
}

.container_header_promo{
	margin: 0 auto;
	margin-top: 80px;
	margin-bottom: 10px;
}

.header_promo{
	font-family: 'Kaushan Script';
	font-size: 50px;
	color: #308cc5;
}

.video_block{
	margin: 0 auto;
	border-radius: 1px;
	box-shadow: 0 0 0 5px rgb(38, 158, 34), 
               0 0 0 10px rgb(199, 43, 23);
}

.video{
	height: 512px;
	width: 910px;
}

.soc_block{
	width: 200px;
	margin: 0 auto;
}

.video_social{
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 15px;
	display: flex;
	justify-content: space-between;
}

.video_social_img{
	width: 30px;
	height: 30px;
}




@media(max-width:1080px){
	.Promo{
		background: url(Images/Promo/bgpromo1.jpg);
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-width: 100%;
		min-height: 1845px;
		margin-top: 75px;
		
		background-size: cover;
	}

	.container_header_promo{
		margin-bottom: 40px;
	}

	.header_promo{
		font-family: 'Kaushan Script';
		font-size: 70px;
	}

	.video_block{
		box-shadow: 0 0 0 7px rgb(38, 158, 34), 
						0 0 0 14px rgb(199, 43, 23);
	}
	.video{
		min-height: 575px;
		min-width: 1020px;
	}

	
	.video_social{
		margin-top: 50px;
		margin-bottom: 15px;
	}

	.video_social_img{
		min-width: 50px;
		min-height: 50px;
	}
}