.Promo{
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-width: 100%;
	min-height: 754px;
	
	background: url(Images/Promo/bgpromo.jpeg);
	background-size: cover;
}

.container_header_promo{
	margin: 0 auto;
	margin-top: 80px;
	margin-bottom: 10px;
}

.header_promo{
	font-family: 'Kaushan Script';
	font-size: 50px;
	color: #308cc5;
}

.video_block{
	margin: 0 auto;
	border-radius: 1px;
	box-shadow: 0 0 0 5px rgb(38, 158, 34), 
               0 0 0 10px rgb(199, 43, 23);
}

.video{
	height: 512px;
	width: 910px;
}

.soc_block{
	width: 200px;
	margin: 0 auto;
}

.video_social{
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 15px;
	display: flex;
	justify-content: space-between;
}

.video_social_img{
	width: 30px;
	height: 30px;
}




@media(max-width:1080px){

	.container_header_promo{
		margin: 0 auto;
		margin-top: 35px;
		margin-bottom: 10px;
	}

	.Promo{
		background: url(Images/Promo/bgpromo1.jpg);
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-width: 100%;
		min-height: 753px;
		/* margin-top: 75px; */
		
		background-size: cover;
	}

	.container_header_promo{
		text-align: center;
		margin-bottom: 60px;
	}

	.header_promo{
		color: #fff;
		font-family: 'Kaushan Script';
		font-size: 40px;
	}

	.video{
	height: 210px;
	width: 340px;
	}

}